<div class="center">
  <button class="center" mat-icon-button [routerLink]="['/saveCollaborator']">
    <mat-icon> save </mat-icon>
    Adicionar novo colaborador
  </button>
</div>
<div class="center">
  <h2>Lista de colaboradores</h2>
</div>
<div class="center">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th>Cargo</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody *ngFor="let collaborator of collaborators">
      <tr>
        <td>{{collaborator.name + " " + collaborator.lastName}}</td>
        <td>{{collaborator.phone}}</td>
        <td>{{collaborator.role}}</td>
        <td>
          <button color="primary">
            <a [routerLink]="['/collaborators', collaborator.id]">
              <mat-icon>update</mat-icon>
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>