<div class="btn-sup">
  <button routerLink="/home" class="btn" mat-stroked-button color="primary">
    Pedidos
  </button>

  <button routerLink="/orders" class="btn" mat-stroked-button color="primary">
    Cadastro de pedidos
  </button>

  <button class="btn" mat-stroked-button color="primary">Reservas</button>

  <button routerLink="/checkouts" class="btn" mat-stroked-button color="primary">
    Caixa
  </button>

  <button routerLink="/admin" class="btn" mat-stroked-button color="primary">
    Configurações
  </button>
</div>
<div class="center">
<h2>Lista de colaboradores</h2>
</div>
<div class="center">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th>Admissão</th>
        <th>Cargo</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Felipe Chagas Bonadio</td>
        <td>14 98765421</td>
        <td>12/12/12</td>
        <td>Caixa</td>
        <td>
          <button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
          <button color="primary">
            <mat-icon>update</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Franciele Barros</td>
        <td>14 95648789</td>
        <td>12/12/12</td>
        <td>Garçonete</td>
        <td>
          <button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
          <button color="primary">
            <mat-icon>update</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Luis Fernando Paes</td>
        <td>14 95478115</td>
        <td>12/12/12</td>
        <td>Entregador</td>
        <td>
          <button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
          <button color="primary">
            <mat-icon>update</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
