<div class="btn-sup">
  <button routerLink="/home" class="btn" mat-stroked-button color="primary">
    Pedidos
  </button>
  <button routerLink="/orders" class="btn" mat-stroked-button color="primary">
    Cadastro de pedidos
  </button>
  <button class="btn" mat-stroked-button color="primary">Reservas</button>
  <button
    routerLink="/checkouts"
    class="btn"
    mat-stroked-button
    color="primary"
  >
    Caixa
  </button>
  <button routerLink="/admin" class="btn" mat-stroked-button color="primary">
    Configurações
  </button>
</div>
<div class="center">
  <button
    class="center"
    mat-icon-button
    (click)="openModal('saveCollaborator')"
  >
    <mat-icon> save </mat-icon>
    Adicionar novo colaborador
  </button>
</div>
<div class="center">
  <h2>Lista de colaboradores</h2>
</div>
<div class="center">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th>Cargo</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody *ngFor="let collaborator of collaborators">
      <tr>
        <td>{{collaborator.name + " " + collaborator.lastName}}</td>
        <td>{{collaborator.phone}}</td>    
        <td>{{collaborator.role}}</td>
        <td>
          <button color="primary">
            <a [routerLink]="['/collaborators', collaborator.id]">
            <mat-icon>update</mat-icon>
          </a>
          </button>
        </td>
      </tr>     
    </tbody>
  </table>
</div>

<jw-modal id="saveCollaborator">
  <p class="title-user">Insira os dados para o cadastro</p>

  <form (ngSubmit)="onSave(collaborator)" [formGroup]="collaboratorForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sobrenome</mat-label>
      <input
        matInput
        formControlName="lastName"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input
        matInput
        formControlName="phone"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cargo</mat-label>
      <input matInput formControlName="role" type="text" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input
        matInput
        formControlName="password"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>CEP</mat-label>
      <input
        matInput
        formControlName="addressCep"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input
        matInput        
        formControlName="addressPlace"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Número</mat-label>
      <input
        matInput        
        formControlName="addressNumber"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input
        matInput       
        formControlName="addressDistrict"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input
        matInput      
        formControlName="addressCity"
        type="text"/>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <input
        matInput      
        formControlName="addressState"
        type="text"/>
    </mat-form-field>

    <button
      class="w-100"
      type="submit"
      (click)="closeModal('saveCollaborator')"
      mat-stroked-button
      color="primary">
      Salvar
    </button>

    <button
      class="w-100"
      (click)="closeModal('saveCollaborator')"
      mat-stroked-button
      color="accent">
      Cancelar
    </button>
  </form>
</jw-modal>
