.btn-sup{
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto auto;
}

.btn{
    margin: 5px;
}

.card {
    max-width: 35%;
    max-height: 100%;
    margin: auto;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-card-actions {
    font-size: 1.3em;
  }
