<div class="btn-sup">
    <button routerLink="/home" class="btn" mat-stroked-button color="primary">
        Pedidos
    </button>

    <button routerLink="/orders" class="btn" mat-stroked-button color="primary">
        Cadastro de pedidos
    </button>

    <button class="btn" mat-stroked-button color="primary">Reservas</button>

    <button routerLink="/checkout" class="btn" mat-stroked-button color="primary">
        Caixa
    </button>

    <button routerLink="/admin" class="btn" mat-stroked-button color="primary">
        Configurações
    </button>
</div>

<mat-card class="card mat-elevation-z5">
    <div class="grid">
        <div>
            <mat-card-actions>
                <button class="btn" routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
                <button class="btn" mat-stroked-button color="primary">Mesa 1</button>
                <button class="btn" mat-stroked-button color="primary">Mesa 1</button>
                <button class="btn" mat-stroked-button color="primary">Mesa 1</button>
                <button class="btn" mat-stroked-button color="primary">Mesa 1</button>
                <button class="btn" mat-stroked-button color="primary">Mesa 1</button>
                <button class="btn" mat-stroked-button color="primary">Mesa 1</button>
                <button class="btn" mat-stroked-button color="primary">Mesa 1</button>
            </mat-card-actions>
        </div>
    </div>
</mat-card>