.btn-sup {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto auto auto;
}

.grid-row {
  display: grid;
  grid-template-rows: auto;
}

.grid-col {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid {
  display: flex;
  justify-content: space-around;
  grid-auto-columns: auto auto auto auto;
}
.card {
  max-width: 35%;
  max-height: 100%;
  margin: auto;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-card-actions {
  font-size: 1.3em;
}

button {
  width: 90%;
  padding: 10px;
  margin: 5px;
}
