<div class="container">
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
</div>