<div class="btn-sup">
    <button routerLink="/home" class="btn" mat-stroked-button color="primary">
        Pedidos
    </button>

    <button routerLink="/orders" class="btn" mat-stroked-button color="primary">
        Cadastro de pedidos
    </button>

    <button class="btn" mat-stroked-button color="primary">Reservas</button>

    <button routerLink="/checkout" class="btn" mat-stroked-button color="primary">
        Caixa
    </button>

    <button routerLink="/admin" class="btn" mat-stroked-button color="primary">
        Configurações
    </button>
</div>


<div class="container">
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
    <button routerLink="/orderdetails" mat-stroked-button color="primary">Mesa 1</button>
</div>