<div class="display">    
    <a routerLink=""><img src="../../../assets/img/logo.png" class ="logo" alt="logo"></a>   
</div>

<div class="btn-sup">
    <button routerLink="/home" class="btn" mat-stroked-button color="primary">
        Pedidos
    </button>

    <button routerLink="/pedidos" class="btn" mat-stroked-button color="primary">
        Cadastro de pedidos
    </button>  

    <button routerLink="/caixa" class="btn" mat-stroked-button color="primary">
        Caixa
    </button>

    <button routerLink="/admin" class="btn" mat-stroked-button color="primary">
        Configurações
    </button>
</div>