<div class="display">    
    <a routerLink=""><img src="../../../assets/img/logo.png" class ="logo" alt="logo"></a>   
    <!-- <div class="linha">
        {{restaurant.name}}<br>
        {{restaurant.address.place}}<br>        
        {{restaurant.phone}}<br>  
        {{restaurant.consumer}}      
    </div> -->
</div>

<div class="btn-sup">
    <button routerLink="/home" class="btn" mat-stroked-button color="primary">
        Pedidos
    </button>

    <button routerLink="/orders" class="btn" mat-stroked-button color="primary">
        Cadastro de pedidos
    </button>

    <button class="btn" mat-stroked-button color="primary">Reservas</button>

    <button routerLink="/checkouts" class="btn" mat-stroked-button color="primary">
        Caixa
    </button>

    <button routerLink="/admin" class="btn" mat-stroked-button color="primary">
        Configurações
    </button>
</div>