<div class="container">
  <form (ngSubmit)="onSave(colaborador)" [formGroup]="colaboradorForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" type="text" />
      </mat-form-field>
   
    <mat-form-field appearance="fill">
      <mat-label>Sobrenome</mat-label>
      <input matInput formControlName="sobrenome" type="text" />
    </mat-form-field>
 
    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone" type="text" />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" type="text" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Cargo</mat-label>
      <input matInput formControlName="funcao" type="text" />
    </mat-form-field>    

    <mat-form-field appearance="fill">
      <mat-label>Restaurante</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let restaurantes of [].constructor(restaurante.nome); index as i" value="{{restaurante.nome}}">
          {{restaurante.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-stroked-button color="primary">
      Salvar
    </button>
    </div>
  </form>

  <button mat-stroked-button color="accent" routerLink="/admin">
    Cancelar
  </button>
</div>
