<div class="center">
  <button class="center" mat-icon-button [routerLink]="['/colaborador-save']">
    <mat-icon> save </mat-icon>
    Adicionar novo colaborador
  </button>
</div>
<div class="center">
  <h2>Lista de colaboradores</h2>
</div>
<div class="center">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th>Cargo</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody *ngFor="let colaborador of colaboradores">
      <tr>
        <td>{{colaborador.nome + " " + colaborador.sobrenome}}</td>
        <td>{{colaborador.telefone}}</td>
        <td>{{colaborador.funcao}}</td>
        <td>
          <button color="primary">
            <a [routerLink]="['/colaboradores', colaborador.id]">
              <mat-icon>update</mat-icon>
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>