<div class="container">
  <div class="sub-container">
    <button (click)="openModal('updateMesa')" mat-stroked-button color="primary">
      Editar quantidade de mesas
    </button>
    <button routerLink="/colaboradores" mat-stroked-button color="primary">
      Funcionários
    </button>
    <button (click)="openModal('updateHorario')" mat-stroked-button color="primary">
      Editar horário de funcionamento
    </button>
    <button routerLink="/produtos" mat-stroked-button color="primary">
      Editar cardápio
    </button>
  </div>
</div>

<jw-modal id="updateMesa">
  <div class="modal">
    <p>Alteração de número de mesas</p>
    <label id="center">Quantidade atual: {{restaurante.quantidadeMesa}}</label>
    <br>
    <form class="form" [formGroup]="mesaForm" (ngSubmit)="onUpdateMesa()">
      <mat-form-field appearance="fill">
        <mat-label>Novo número de mesas</mat-label>
        <input matInput formControlName="quantidadeMesa" type="text" />
      </mat-form-field>
      <div class="row">
        <button type="submit" (click)="closeModal('updateMesa')" mat-stroked-button color="primary">
          Salvar
        </button>
      </div>
    </form>
    <button (click)="closeModal('updateMesa')" mat-stroked-button color="accent">
      Cancelar
    </button>
  </div>
</jw-modal>

<jw-modal id="updateHorario">
  <div class="modal">
    <p>Alteração de Horário</p>
    <br />
    <label>Horário atual: {{this.restaurante.horarioAbertura}} - {{this.restaurante.horarioEncerramento}}</label>
    <br />
    <form class="form" [formGroup]="restauranteHorarioForm" (ngSubmit)="onUpdateHorario()">
    <mat-form-field appearance="fill">
      <mat-label>Novo horário de abertrura</mat-label>
      <input matInput formControlName="horarioAbertura" type="time" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Novo horário de encerramento</mat-label>
      <input matInput formControlName="horarioEncerramento" type="time" />
    </mat-form-field>
    <div class="row">
      <button type="submit" (click)="closeModal('updateHorario')" mat-stroked-button color="primary">
        Salvar
      </button>
    </div>
  </form>
    <div>
      <button (click)="closeModal('updateHorario')" mat-stroked-button color="accent">
        Cancelar
      </button>
    </div>
  </div>
</jw-modal>