<div class="container">
  <div class="sub-container">
    <button (click)="openModal('updateTable')" mat-stroked-button color="primary">
      Editar quantidade de mesas
    </button>
    <button routerLink="/collaborators" mat-stroked-button color="primary">
      Funcionários
    </button>
    <button (click)="openModal('updateSchedule')" mat-stroked-button color="primary">
      Editar horário de funcionamento
    </button>
    <button routerLink="/products" mat-stroked-button color="primary">
      Editar cardápio
    </button>
  </div>
</div>

<jw-modal id="updateTable">
  <div class="modal">
    <p>Alteração de número de mesas</p>
    <label id="center">Quantidade atual: {{restaurant.consumer}}</label>
    <br>
    <form class="form" [formGroup]="consumerForm" (ngSubmit)="onUpdateConsumer()">
      <mat-form-field appearance="fill">
        <mat-label>Novo número de mesas</mat-label>
        <input matInput formControlName="consumer" type="text" />
      </mat-form-field>
      <div class="row">
        <button type="submit" (click)="closeModal('updateTable')" mat-stroked-button color="primary">
          Salvar
        </button>
      </div>
    </form>
    <button (click)="closeModal('updateTable')" mat-stroked-button color="accent">
      Cancelar
    </button>
  </div>
</jw-modal>

<jw-modal id="updateSchedule">
  <div class="modal">
    <p>Alteração de Horário</p>
    <br />
    <label>Horário atual: 18:00 - 24:00</label>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Novo horário de abertrura</mat-label>
      <input matInput type="time" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Novo horário de encerramento</mat-label>
      <input matInput type="time" />
    </mat-form-field>
    <div class="row">
      <button type="submit" (click)="closeModal('updateSchedule')" mat-stroked-button color="primary">
        Salvar
      </button>
      <button (click)="closeModal('updateSchedule')" mat-stroked-button color="accent">
        Cancelar
      </button>
    </div>
  </div>
</jw-modal>