<div class="center">
  <button class="center" mat-icon-button [routerLink]="['/saveProduct']">
    <mat-icon> save </mat-icon>
    Adicionar novo produto
  </button>
</div>
<div class="center">
  <h2>Lista de Produtos</h2>
</div>
<div class="center">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.value}}</td>
        <td>{{product.category}}</td>
        <td>
          <button color="primary">
            <a [routerLink]="['/products', product.id]">
              <mat-icon>update</mat-icon>
            </a>
          </button>
          <button color="primary">
            <a [routerLink]="['/products', product.id]">
              <mat-icon>update</mat-icon>
            </a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>