<div class="btn-sup">
    <button routerLink="/home" class="btn" mat-stroked-button color="primary">
        Pedidos
    </button>

    <button routerLink="/orders" class="btn" mat-stroked-button color="primary">
        Cadastro de pedidos
    </button>

    <button class="btn" mat-stroked-button color="primary">Reservas</button>

    <button routerLink="/checkout" class="btn" mat-stroked-button color="primary">
        Caixa
    </button>

    <button routerLink="/admin" class="btn" mat-stroked-button color="primary">
        Configurações
    </button>
</div>

<div class="container">
    <div class="grid-card">
        <mat-card class="card mat-elevation-z5">
            <mat-card-header>
                <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
                <mat-card-title>Mesa 2</mat-card-title>
                <mat-card-subtitle>Chegada: 18:32</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                1 coca
                <br>
                1 fanta
                <br>
                1 pizza
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Fechar pedido</button>
                <button mat-button>Saiu para entrega</button>
            </mat-card-actions>            
        </mat-card>
        <mat-card class="card mat-elevation-z5">
            <mat-card-header>
                <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
                <mat-card-title>Mesa 2</mat-card-title>
                <mat-card-subtitle>Chegada: 18:32</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                1 coca
                <br>
                1 fanta
                <br>
                1 pizza
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Fechar pedido</button>
                <button mat-button>Saiu para entrega</button>
            </mat-card-actions>            
        </mat-card>
        <mat-card class="card mat-elevation-z5">
            <mat-card-header>
                <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
                <mat-card-title>Mesa 2</mat-card-title>
                <mat-card-subtitle>Chegada: 18:32</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                1 coca
                <br>
                1 fanta
                <br>
                1 pizza
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Fechar pedido</button>
                <button mat-button>Saiu para entrega</button>
            </mat-card-actions>            
        </mat-card>
    </div>
    
</div>